button {
	background-color:#4169e1;
	border-radius:28px;
	border:1px solid #18ab29;
	display: inline-block;
	cursor:pointer;
  justify-content: space-around;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  width: 150px;
  height: 100px;
}
button:hover {
	background-color:#002366;
}
button:active {
	position:relative;
	top:1px;
}

html {
  height: 100%
}

body {
  background-color: #C0C0C0
}
