button {
	background-color:#4169e1;
	border-radius:28px;
	border:1px solid black;
	display: inline-block;
	cursor:pointer;
  justify-content: space-around;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  width: 150px;
  height: 100px;
}
button:hover {
	background-color:#002366;
}
button:active {
	position:relative;
	top:1px;
}

html {
  height: 100%;
	background-color: #C0C0C0;
}

body {
  margin-bottom: 100px;
	margin-top: 50px;
}

.start {
	font-weight: bold;
	font-size: 15px;
	padding: 15px;
	font-family:'Roboto', sans-serif;
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid gray;
	margin-bottom: 10px;
}

.header {
	text-align: center;
	font-family:Arial;
}

.table {
	margin-left: 8%;
	width: 50%;
}

#aodtable td {
	width: 20px;
	padding-bottom: 10px;
}

#limimg{
	width: 35%
}

#lim{
	padding-left: 3%;
}

.topbuttons {
	text-align: center;
}

.answerbuttons {
	text-align: center;
	height: 35px;
	width: 100px;
	justify-content: center;
	margin-left: 50%;
	margin-right: 25%;
}
